footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    // background: #fff;

    .copyright {
        font-size: 14px;
        color: #000;
        font-family: Helvetica;
        letter-spacing: 0.3px;
        white-space: nowrap;
    }

    .footer-socials {
        display: flex;

        a {}

        img {
            margin-right: 38px;
            width: 22px;
            height: 22px;
        }
    }

    .scroll-down {
        cursor: pointer;
        position: relative;
        z-index: 100;

        img {
            width: 42px;
        }

        animation: go-go 1.5s infinite;
        animation-timing-function: ease-out;
    }

    .footer-form {

        position: absolute;
        bottom: 0;
        right: 0;
        bottom: -60px;
        opacity: 0;
        visibility: hidden;
        transition: bottom 0.3s;
        background: #fff;
        width: 395px;

        .form {
            width: 100%;
            padding: 0px 30px 30px 30px;
            margin-bottom: 30px;
            display: none;
        }

        &__text {
            font-weight: 500;
            line-height: 1.25;
            color: #212121;
            padding: 30px 30px 20px 20px;
            font-size: 24px;
            display: none;
        }

        &.active {
            bottom: 0;
            opacity: 1;
            visibility: visible;
        }

        &.ready {
            box-shadow: 0 0 30px -5px #000;

            .form {
                display: block;
            }

            .footer-form__text {
                display: block;
            }

            .create-trading-btn {
                display: none;
            }

            .submit-create-trading-form {
                display: flex;
            }
        }

        &.sent {
            .input {
                display: none;
            }
            .create-trading-btn,
            .submit-create-trading-form {
                display: none;
            }
        }
    }



    .create-trading-btn,
    .submit-create-trading-form {
        cursor: pointer;
        width: 100%;
        height: 60px;
        background-color: #56a54b;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;

        &:hover {
            background: darken(#56a54b, 5%);
        }

    }

    .submit-create-trading-form {
        display: none;
    }
}


@keyframes go-go {
    0% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(12px);
    }

    100% {
        transform: translateY(0px);
    }
}