/* MOBILES */

// .desktop {
//     display: block;
// }

// .mobile {
//     display: none;
// }


@media screen and (max-height: 900px) {}


@media screen and (max-width: 1600px) {}


@media screen and (max-width: 1280px) {
    header {
        border: none;
    }

    .partners-section {
        background-size: contain !important;
        background-position: center top;

        .partners-block {
            width: 100%;
            box-shadow: none;

            &__text {
                padding: 20px;
            }

            &__countries {
                margin: auto;
                padding: 20px;
            }
        }
    }

    .about-section {
        .text-block {
            width: 100%;
            font-size: 16px;
            bottom: 0;
            max-width: 100%;
            padding-bottom: 100px;
            font-weight: 400;
        }
    }

    .contacts-section {
        background-size: contain;

        .form {
            width: 100%;
            bottom: 0;
            padding: 25px 80px 0 20px;

            form {
                width: 300px;
                padding-bottom: 80px;
            }

            &__title {
                margin-bottom: 0;
            }

            &__info {
                padding-top: 50px;
                font-size: 16px;

                &_item {
                    &:first-child {
                        line-height: 20px;
                    }

                    &:nth-child(2) {
                        margin-top: 30px;
                    }

                    &:last-child {
                        margin-top: 30px;
                        line-height: 24px;
                    }
                }
            }

            .mobile {
                display: block;
            }

            .desktop {
                display: none;
            }
        }

        .form__wrapper {
            flex-direction: row-reverse;
        }
    }

    .products-section .product-list {
        max-width: calc(254px * 4);
        overflow: auto;
        height: calc(100% - 160px);

        &::-webkit-scrollbar {
            background: #9e9db2;
            width: 4px;
            padding-right: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #eb3f57;
            outline: 1px solid #eb3f57;
        }

        margin-right: 10px;

        .product-list__item {
            width: calc(100%/4);
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 980px) {
    header {
        padding-right: 0;

        nav {
            display: none;
        }

        .mobile-menu {
            display: block;
        }

        .burger {
            display: flex;

            background: #515067;
        }

        .dropdown-menu {
            nav {

                ul {
                    display: block;
                }
            }
        }

    }

    .products-section .product-list {
        max-width: calc(284px * 3);
        padding: 0 39px;

        .product-list__item {
            width: calc(100%/3);
        }
    }

    .home-section {
        padding-left: 84px;
        background-position: center;
    }

    .home-section h1 {
        margin-top: 80px;
        font-size: 52px;
    }

    .product-item-section .product {
        flex-wrap: wrap;

        &__bg {
            width: 100%;
            max-height: 356px;
            margin-top: 33px;
            height: 20vh;

            img {
                height: 100%;
            }
        }

        &__info_title {
            font-size: 52px;
            margin-top: 0px;
        }

        &__info {
            width: 100%;
            height: calc(100vh - 20vh - 230px);
            margin-top: 20px;
            padding-top: 0;
            margin-bottom: 100%;

            &_name {
                font-size: 24px;
                margin-top: 0;
            }

            &_small-name {
                font-size: 18px;
                margin-top: 0;
            }

            &_descr {
                margin-top: 20px;
            }
        }

        &__switcher {
            left: auto;
            right: 80px;
        }
    }
}

@media screen and (max-width: 800px) {
    .partners-section {

        // background-size: cover!important;
        .partners-block {
            background: none;

            &__text {
                font-size: 14px;
                font-weight: 400;
            }

            &__countries {
                padding-top: 0;
            }

            &__countries_item {
                font-size: 16px;
            }
        }
    }

    .about-section {
        background-position: center;

        .text-block {
            padding-right: 0px;
            height: 70%;

            span {
                overflow: auto;
                height: 100%;
                display: block;
                margin-right: 10px;
                padding-right: 20px;
            }
        }
    }

    .products-section .product-list {
        max-width: calc(340px * 2);

        .product-list__item {
            width: calc(100%/2);
        }
    }

    .home-section h1 {
        // margin-top: 80px;
        font-size: 42px;
    }

}

//mobile
@media screen and (max-width: 600px) {
    header .logo img {
        max-width: 70px;
        margin-top: 7px;
    }

    main {
        width: 100%;
    }

    header {
        width: 100%;
        left: 0;

        .burger {
            width: 40px;
            height: 40px;

            >div {
                height: 19px;
            }

            &__line {
                margin-top: 3px;
                width: 12px;
            }
        }

        .logo.active:after {
            bottom: -6px;
        }

        .dropdown-menu {
            width: 100%;
            padding: 10px 20px;

            .logo {
                display: block;

                img {
                    margin-top: 0;
                }
            }
        }
    }

    .pagination__next,
    .pagination__prev {
        width: 40px;
        height: 40px;

        img {
            width: 25px;
        }
    }

    .language-list__value {
        width: 40px;
        height: 40px;
        font-size: 14px;

        i {
            display: none;
        }
    }

    .language-list__item {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    .sidebar {
        display: none;
    }

    .home-section {
        padding-left: 50px;
    }

    .home-section h1 {
        margin-top: 0px;
        font-size: 30px;
        line-height: 38px;
        font-weight: 400;

        span {
            padding: 1px 26px 9px 19px;
            line-height: 37px;
            left: -10px;
            top: 7px;
            font-weight: 400;
        }
    }


    .partners-section {
        .partners-block {
            &__text {
                padding: 0;
            }

            &__countries {
                padding: 0;
            }

            &__countries_item {
                padding: 0;
            }
        }
    }

    .about-section {
        .text-block {
            // max-height: 90%;
            font-size: 14px;
            padding: 30px 0px 50px 30px;
        }
    }

    .products-section {
        padding-top: 50px;
    }

    .products-section .product-list {
        max-width: 100%;
        padding: 0;
        margin-top: 0;
        height: calc(100% - 60px);

        .product-list__item {
            width: 100%;
            height: auto;
            margin-bottom: 0;
            padding: 10px 40px;
            position: relative;

            &_title {
                margin-top: 0;
                font-size: 30px;
            }

            &_number {
                position: absolute;
                right: 20px;
                font-size: 20px;
            }

            &_name {
                font-size: 12px;
            }

            &_link {
                right: 13px;
                bottom: 8px;
                left: initial;
                top: initial;
                img {
                    width: 30px;
                }
            }
        }
    }

    .product-item-section {
        padding-top: 0;

        .product__bg {
            margin-top: 0;
        }

        .product {
            &__info_title {
                font-size: 40px;
                margin-top: 0px;
            }

            &__info {
                padding-top: 0;
                height: calc(100vh - 20vh - 120px);
                margin-bottom: 0;

                &_name {
                    font-size: 18px;
                }

                &_small-name {
                    font-size: 16px;
                }

                &_descr {
                    font-size: 14px;
                }
            }

            &__switcher {
                display: none;
            }

            .btn {
                width: 230px;
                height: 60px;
                font-size: 18px;
            }
        }
    }

    .contacts-section {
        background-size: 180%;
        background-position: center top;
        .form {
            padding: 20px 40px 40px 20px;
            @media screen and (max-height: 500px) {
                // height: 100%;
                // padding-top: 40px;
                .form__title {
                    font-size: 14px;
                }
                .form__info_item {
                    font-size: 12px;
                    img {
                        width: 30px;
                    }
                }
                .form__textarea {
                    height: 60px;
                }
                form {
                    padding-left: 30px!important;
                    input,
                    textarea {
                        max-height: 60px;
                        font-size: 12px!important;
                    }
                }
            }
            &__submitted {
                width: 100%;
            }
            form {
                width: 100%;
                padding-left: 40px;
                padding-bottom: 0;
                input,
                textarea {
                    padding: 4px 8px;
                    font-size: 14px;
                    margin-top: 10px;
                    max-height: 100px;
                }
            }

            &__title {
                font-size: 16px;
                margin-bottom: 10px;
            }

            &__info {
                width: 100%;
                padding-top: 5px;
                padding-bottom: 20px;
                font-size: 14px;

                &_item {
                    img {
                        width: 38px;
                    }
                    &:first-child {
                        margin-top: 0;
                        line-height: 20px;
                    }

                    &:nth-child(2) {
                        margin-top: 10px;
                        line-height: 30px;
                        a:last-child {
                            display: none;
                        }
                    }

                    &:last-child {
                        margin-top: 10px;
                        line-height: 22px;
                    }
                }
            }

            .btn {
                float: right;
                width: 163px;
                height: 41px;
                font-size: 14px;
                font-weight: 400;
                margin-top: 15px;
            }
        }

        .form__textarea {
            height: 100px;
        }

        .form__wrapper {
            flex-direction: column-reverse;
        }
    }
}


@media screen and (max-width: 480px) {
    .partners-section {
        .partners-block {
            bottom: 30px;
        }

        .partners-block__countries {
            margin-top: 15px;
        }

        .partners-block__countries_item {
            margin-top: 6px;
            width: 155px;

            img {
                width: 20px;
                height: 15px;
            }
        }
    }
}


@media screen and (max-width: 375px) {
    .partners-section {

        .partners-block__countries_item {
            font-size: 14px;
            width: 138px;
        }
    }
}