/* MOBILES */

.desktop {
    display: block;
}

.mobile {
    display: none;
}


@media screen and (max-height: 900px) {}


@media screen and (max-width: 1600px) {}


@media screen and (max-width: 1280px) {
    header {
        border: none;
    }

    .partners-section {
        background-size: contain !important;
        background-position: center top;

        .partners-block {
            width: 100%;
            box-shadow: none;

            &__text {
                padding: 20px;
            }

            &__countries {
                margin: auto;
                padding: 20px;
            }
        }
    }

    .about-section {
        .text-block {
            width: 100%;
            font-size: 16px;
            bottom: 0;
            max-width: 100%;
            padding-bottom: 100px;
            font-weight: 400;
        }
    }

    .contacts-section {
        .form {
            width: 100%;
            bottom: 0;
        }
    }

    .products-section .product-list {
        max-width: calc(254px * 4);
        overflow: auto;
        height: 90%;

        .product-list__item {
            width: calc(100%/4);
            margin-right: 0;
        }
    }

}

@media screen and (max-width: 980px) {
    header {
        padding-right: 0;

        nav {
            display: none;
        }

        .mobile-menu {
            display: block;
        }

        .burger {
            display: flex;

            background: #515067;
        }

        .dropdown-menu {
            nav {

                ul {
                    display: block;
                }
            }
        }

    }

    .products-section .product-list {
        max-width: calc(284px * 2);
        padding: 0 39px;

        .product-list__item {
            width: calc(100%/2);
        }
    }

    .home-section {
        padding-left: 84px;
        background-position: center;
    }

    .home-section h1 {
        margin-top: 80px;
        font-size: 52px;
    }

    .product-item-section .product {
        flex-wrap: wrap;

        &__bg {
            width: 100%;
            max-height: 356px;
            margin-top: 33px;
            height: 20vh;

            img {
                height: 100%;
            }
        }

        &__info_title {
            font-size: 52px;
            margin-top: 0px;
        }

        &__info {
            width: 100%;
            height: calc(100vh - 20vh - 230px);
            margin-top: 20px;
            padding-top: 0;
            margin-bottom: 100%;

            &_name {
                font-size: 24px;
                margin-top: 0;
            }

            &_small-name {
                font-size: 18px;
                margin-top: 0;
            }

            &_descr {
                margin-top: 20px;
            }
        }

        &__switcher {
            left: auto;
            right: 80px;
        }
    }
}

@media screen and (max-width: 800px) {
    .partners-section {

        // background-size: cover!important;
        .partners-block {
            background: none;

            &__text {
                font-size: 14px;
                font-weight: 400;
            }

            &__countries {
                padding-top: 0;
            }

            &__countries_item {
                font-size: 16px;
            }
        }
    }

    .about-section {
        .text-block {
            padding-right: 40px;
        }
    }

    .home-section h1 {
        // margin-top: 80px;
        font-size: 42px;
    }

}

//mobile
@media screen and (max-width: 600px) {
    header .logo img {
        max-width: 70px;
        margin-top: 7px;
    }

    main {
        width: 100%;
    }

    header {
        width: 100%;
        left: 0;

        .burger {
            width: 40px;
            height: 40px;

            >div {
                height: 19px;
            }

            &__line {
                margin-top: 3px;
                width: 12px;
            }
        }

        .logo.active:after {
            bottom: -6px;
        }

        .dropdown-menu {
            width: 100%;
            padding: 10px 20px;

            .logo {
                display: block;

                img {
                    margin-top: 0;
                }
            }
        }
    }

    .pagination__next,
    .pagination__prev {
        width: 40px;
        height: 40px;

        img {
            width: 25px;
        }
    }

    .language-list__value {
        width: 40px;
        height: 40px;
        font-size: 14px;

        i {
            display: none;
        }
    }

    .language-list__item {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    .sidebar {
        display: none;
    }

    .home-section {
        padding-left: 50px;
    }

    .home-section h1 {
        margin-top: 0px;
        font-size: 30px;
        line-height: 38px;
        font-weight: 400;

        span {
            padding: 1px 26px 9px 19px;
            line-height: 37px;
            left: -10px;
            top: 7px;
            font-weight: 400;
        }
    }


    .partners-section {
        .partners-block {
            &__text {
                padding: 0;
            }

            &__countries {
                padding: 0;
            }

            &__countries_item {
                padding: 0;
            }
        }
    }

    .about-section {
        .text-block {
            max-height: 90%;
            overflow: auto;
            font-size: 14px;
        }
    }

    .products-section {
        padding-top: 50px;
    }

    .products-section .product-list {
        max-width: 100%;
        padding: 0;
        margin-top: 0;

        .product-list__item {
            width: 100%;
            height: auto;
            margin-bottom: 0;
            padding: 10px 40px;
            position: relative;

            &_title {
                margin-top: 0;
                font-size: 30px;
            }

            &_number {
                position: absolute;
                right: 20px;
                font-size: 20px;
            }

            &_name {
                font-size: 12px;
            }

            &_link {
                // display: none;
                bottom: 10px;
                right: 13px;
                position: absolute;

                img {
                    width: 30px;
                }
            }
        }
    }

    .product-item-section {
        padding-top: 0;

        .product__bg {
            margin-top: 0;
        }

        .product {
            &__info_title {
                font-size: 40px;
                margin-top: 0px;
            }

            &__info {
                padding-top: 0;
                height: calc(100vh - 20vh - 120px);
                margin-bottom: 0;
                &_name {
                    font-size: 18px;
                }

                &_small-name {
                    font-size: 16px;
                }

                &_descr {
                    font-size: 14px;
                }
            }

            &__switcher {
                display: none;
            }

            .btn {
                width: 230px;
                height: 60px;
                font-size: 18px;
            }
        }
    }
}


@media screen and (max-width: 480px) {
    .partners-section {
        .partners-block {
            bottom: 30px;
        }
        .partners-block__countries {
            margin-top: 15px;
        }

        .partners-block__countries_item {
            margin-top: 6px;
            width: 155px;

            img {
                width: 20px;
                height: 15px;
            }
        }
    }
}


@media screen and (max-width: 375px) {
    .partners-section {

        .partners-block__countries_item {
            font-size: 14px;
            width: 138px;
        }
    }
}