@import 'mixins.scss';
@import 'reset.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'main.scss';
@import 'sidebar.scss';
// @import 'media.scss';


  [v-cloak] {
    display: none;
  }




  // // @font-face {
  // //     font-family: 'PT Sans Caption'; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  // //     src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  // //     // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
  // //     // url('fonts/Rubik-Light.woff') format('woff'), /* Pretty Modern Browsers */
  // //     url('fonts/PTC55F.ttf') format('truetype');
  // //     /* Safari, Android, iOS */
  // //     // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  // //     font-weight: 300;
  // // }

  // @font-face {
  //     font-family: 'BebasNeue'; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  //     src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //     // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
  //     // url('fonts/Rubik-Light.woff') format('woff'), /* Pretty Modern Browsers */
  //     url('fonts/BebasNeue Regular.otf') format('truetype');
  //     /* Safari, Android, iOS */
  //     // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  //     font-weight: 400;
  // }


  // @font-face {
  //     font-family: 'BebasNeue'; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  //     src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //     // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
  //     // url('fonts/Rubik-Light.woff') format('woff'), /* Pretty Modern Browsers */
  //     url('fonts/BebasNeue Bold.otf') format('truetype');
  //     /* Safari, Android, iOS */
  //     // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  //     font-weight: 600;
  // }


  @font-face {
      font-family: 'Lato'; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
      src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
      // url('fonts/Rubik-Light.woff') format('woff'), /* Pretty Modern Browsers */
      url('fonts/lato.ttf') format('truetype');
      /* Safari, Android, iOS */
      // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
      // font-weight: 600;
  }


  @font-face {
      font-family: 'Akrobat'; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
      src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
      // url('fonts/Rubik-Light.woff') format('woff'), /* Pretty Modern Browsers */
      url('fonts/Akrobat.ttf') format('truetype');
      /* Safari, Android, iOS */
      // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
      // font-weight: 600;
  }

