<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&amp;subset=latin-ext" rel="stylesheet"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
</head>

<body>
    <div class="wrapper" id="app">
        <header>
            <a href="#1" @click="goTo(1)" class="logo"><img src="img/logo_alfapolymer.svg" alt=""></a>
            <nav v-cloak>
                <ul>
                    <li><a href="#2" @click="goTo(2)">{{Resources.products}}</a></li>
                    <li><a href="#3" @click="goTo(3)">{{Resources.about_company}}</a></li>
                    <li><a href="#4" @click="goTo(4)">{{Resources.partners}}</a></li>
                    <li><a href="#5" @click="goTo(5)">{{Resources.contacts}}</a></li>
                </ul>
            </nav>
            <app-menu></app-menu>
        </header>
        <aside class="sidebar">
            <div class="sidebar__phone">
                <a href="tel:">
                    <img src="img/svg/Phone-white.svg" alt="">
                </a>
            </div>
            <div class="sidebar__socials">
                <div>
                    <ul>
                        <li><a href="">facebook</a></li>
                        <li><a href="">prom.ua</a></li>
                    </ul>
                    <a href=""><img src="img/svg/Share.svg" alt=""></a>
                </div>
            </div>
        </aside>
        <main class="main">
            <section class="home-section">
                <h1>Прямые Поставки <br>полимерного сырья <br><span>со всего мира</span></h1>
            </section>
            <section class="products-section" data-swipe id="products">
                <div class="product-list">
                    <div class="product-list__item">
                        <div class="product-list__item_number">01</div>
                        <div class="product-list__item_title">EPS</div>
                        <div class="product-list__item_name pink">Вспененный полистирол </div>
                        <div class="product-list__item_name">Expandable Polystyrene</div>
                        <div class="product-list__item_link"><a href="#6" @click="goTo(6, 1)"><img src="img/svg/Arrow-right.svg" alt=""></a></div>
                    </div>
                    <div class="product-list__item">
                        <div class="product-list__item_number">02</div>
                        <div class="product-list__item_title">HIPS</div>
                        <div class="product-list__item_name pink"> Ударопрочный полистирол</div>
                        <div class="product-list__item_name">High Impact PolyStyrene</div>
                        <div class="product-list__item_link"><a href="#6" @click="goTo(6, 2)"><img src="img/svg/Arrow-right.svg" alt=""></a></div>
                    </div>
                    <div class="product-list__item">
                        <div class="product-list__item_number">03</div>
                        <div class="product-list__item_title">GPPS</div>
                        <div class="product-list__item_name pink"> Полистирол общего назначения</div>
                        <div class="product-list__item_name">General Purpose Polystyrene</div>
                        <div class="product-list__item_link"><a href="#6" @click="goTo(6, 3)"><img src="img/svg/Arrow-right.svg" alt=""></a></div>
                    </div>
                    <div class="product-list__item">
                        <div class="product-list__item_number">04</div>
                        <div class="product-list__item_title">PP</div>
                        <div class="product-list__item_name pink"> Полипропилен</div>
                        <div class="product-list__item_name">Polypropylene</div>
                        <div class="product-list__item_link"><a href="#6" @click="goTo(6, 4)"><img src="img/svg/Arrow-right.svg" alt=""></a></div>
                    </div>
                    <div class="product-list__item">
                        <div class="product-list__item_number">05</div>
                        <div class="product-list__item_title">LLDPE</div>
                        <div class="product-list__item_name pink">Полиэтилен низкой плотности</div>
                        <div class="product-list__item_name">Linear low-density polyethylene </div>
                        <div class="product-list__item_link"><a href="#6" @click="goTo(6, 5)"><img src="img/svg/Arrow-right.svg" alt=""></a></div>
                    </div>
                    <div class="product-list__item">
                        <div class="product-list__item_number">06</div>
                        <div class="product-list__item_title">HDPE</div>
                        <div class="product-list__item_name pink">Полиэтилен высокого давления</div>
                        <div class="product-list__item_name">General Purpose Polystyrene</div>
                        <div class="product-list__item_link"><a href="#6" @click="goTo(6, 6)"><img src="img/svg/Arrow-right.svg" alt=""></a></div>
                    </div>
                    <div class="product-list__item">
                        <div class="product-list__item_number">07</div>
                        <div class="product-list__item_title">LDPE</div>
                        <div class="product-list__item_name pink">Полиэтилен низкого давления</div>
                        <div class="product-list__item_name">Low density polyethylene</div>
                        <div class="product-list__item_link"><a href="#6" @click="goTo(6, 7)"><img src="img/svg/Arrow-right.svg" alt=""></a></div>
                    </div>
                    <div class="product-list__item">
                        <div class="product-list__item_number">08</div>
                        <div class="product-list__item_title">Chalk</div>
                        <div class="product-list__item_name pink">Меловая добавка</div>
                        <div class="product-list__item_name">Chank Compount</div>
                        <div class="product-list__item_link"><a href="#6" @click="goTo(6, 8)"><img src="img/svg/Arrow-right.svg" alt=""></a></div>
                    </div>
                    <div class="product-list__item">
                        <div class="product-list__item_number">09</div>
                        <div class="product-list__item_title">HIPS<sup>вторичный</sup></div>
                        <div class="product-list__item_name pink">Ударопрочный полистирол</div>
                        <div class="product-list__item_name">High Impact PolyStyrene</div>
                        <div class="product-list__item_link"><a href="#6" @click="goTo(6, 2)"><img src="img/svg/Arrow-right.svg" alt=""></a></div>
                    </div>
                    <div class="product-list__item">
                        <div class="product-list__item_number">10</div>
                        <div class="product-list__item_title">GPPS<sup>вторичный</sup></div>
                        <div class="product-list__item_name pink">Полистирол общего назначения</div>
                        <div class="product-list__item_name">General Purpose Polystyrene</div>
                        <div class="product-list__item_link"><a href="#6" @click="goTo(6, 3)"><img src="img/svg/Arrow-right.svg" alt=""></a></div>
                    </div>
                </div>
            </section>
            <section class="about-section">
                <div class="text-block">{{Resources.about_text}}</div>
            </section>
            <section class="partners-section">
                <div class="partners-block">
                    <div class="partners-block__text">He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured. I write the best placeholder text, and I&apos;m the biggest developer on the web by far... While that&apos;s mock-ups and this is politics, are they really so different? You’re disgusting. I know words. I have the best words.</div>
                    <div class="partners-block__countries" v-cloak>
                        <div class="partners-block__countries_item"><img src="img/az.svg" alt=""><span>{{Resources.azerb}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/by.svg" alt=""><span>{{Resources.belarus}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/hungary.svg" alt=""><span>{{Resources.hungary}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/georgia.svg" alt=""><span>{{Resources.georgia}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/iran.svg" alt=""><span>{{Resources.iran}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/italy.svg" alt=""><span>{{Resources.italy}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/qatar.svg" alt=""><span>{{Resources.qatar}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/china.svg" alt=""><span>{{Resources.china}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/poland.svg" alt=""><span>{{Resources.poland}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/russia.svg" alt=""><span>{{Resources.russia}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/saudiarabia.svg" alt=""><span>{{Resources.saudiarabia}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/taiwan.svg" alt=""><span>{{Resources.taiwan}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/turkmenistan.svg" alt=""><span>{{Resources.turkmenistan}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/turkey.svg" alt=""><span>{{Resources.turkey}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/uzbekistan.svg" alt=""><span>{{Resources.uzbekistan}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/france.svg" alt=""><span>{{Resources.france}}</span></div>
                        <div class="partners-block__countries_item"><img src="img/southkorea.svg" alt=""><span>{{Resources.southkorea}}</span></div>
                    </div>
                </div>
            </section>
            <section class="contacts-section">
                <app-contacts></app-contacts>
            </section>
            <section class="product-item-section">
                <app-product></app-product>
            </section>
        </main>
        <app-pagination></app-pagination>
        <app-language></app-language>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.3.3/rxjs.umd.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.onepage-scroll.js"></script>
    <template id="pagination-template">
        <div class="pagination">
            <div class="pagination__prev" @click="prev()"><img src="img/svg/Arrow-left.svg" alt=""></div>
            <div class="pagination__next" @click="next()"><img src="img/svg/Arrow-right.svg" alt=""></div>
        </div>
    </template>
    <template id="language-template">
        <div class="language" :class="{active : visible}">
            <div class="language-list">
                <div class="language-list__item" v-for="lang in languages" @click="changeLang(lang)">{{lang}}</div>
            </div>
            <div class="language-list__value" @click.stop="toggle()">{{activeLang}} <i class="icon"></i></div>
        </div>
    </template>

    <template id="product-template">
        <div class="product">
            <!-- <div class="product__bg" v-if="product.url" :style="{backgroundImage: 'url(img/'+ product.url + ')'}"></div> -->
            <div class="product__bg" v-if="product.url" >
                <img v-bind:src="'img/' + product.url" alt="">
            </div>
            
            <div class="product__switcher">
                <div class="product__switcher-left" @click="prev()"><img src="img/svg/Chevron-left.svg" alt=""></div>
                <div class="product__switcher-name">{{product.title}}</div>
                <div class="product__switcher-right" @click="next()"><img src="img/svg/Chevron-right.svg" alt=""></div>
            </div>
            <div class="product__info">

                <div class="product__info_title">{{product.title}}</div>
                <div class="product__info_name" v-if="langState$.value !== 'en'">{{product.name}}</div>
                <div class="product__info_small-name">{{product.eng_name}}</div>
                <div class="product__info_descr" v-html="product.descr"></div>
                <a href="#5" @click="goTo(5)"><button class="btn">СВЯЗАТЬСЯ С НАМИ</button></a>
            </div>
        </div>
    </template>

    <template id="contacts-template">
        <div class="form">
            <div class="form__title" v-if="!submitted">Вы можете связаться с нами любым доступным способом</div>
            <form @submit="submit()" v-if="!submitted">
                <input type="text" v-model="form.name" required placeholder="Ваше Имя" maxlength="30">
                <input type="email" v-model="form.email" required placeholder="Ваш Email" maxlength="30">
                <div class="form__textarea">
                    <textarea v-model="form.description" placeholder="Напишите нам" required auto-resize maxlength="300"></textarea>
                </div>
                <button type="submit" class="btn">ОТПРАВИТЬ</button>
            </form>
            <div v-if="submitted" class="form__submitted">
                <div>Ваше сообщение отрпавлено. <br>В ближайщее время с вами <br>свяжется наш менеджер.</div>
            </div>
            <div class="form__info">
                <a href="http://maps.google.com/?q=1200 Pennsylvania Ave SE, Washington, District of Columbia, 20003" class="form__info_item" target="_blank">
                    <img src="img/svg/Map-Pin.svg" alt="">г. Киев <br>ул. Мельникова 81А 
                </a>
                <div class="form__info_item">
                    <img src="img/svg/Phone.svg" alt="">
                    <div>  
                        <a href="tel:+380676546085">+380 67 654 60 85 </a>
                        <a href="tel:+380444656402">+380 44 465 64 02</a>
                    </div>
                </div>
                <a href="mailto:office@alfapolymer.com.ua" class="form__info_item"><img src="img/svg/Mail.svg" alt="">office@alfapolymer.com.ua</a>
            </div>
        </div>
    </template>
    <template id="menu-template">
        <div class="mobile-menu">        
            <div class="burger" @click="toggle()">
                <div>                
                    <div class="burger__line"></div>
                    <div class="burger__line"></div>
                    <div class="burger__line"></div>
                </div>
            </div>
            <div class="dropdown-menu" :class="{open : menuIsActivated}">
                <a href="#1" @click="goTo(1)" class="logo"><img src="img/logo_alfapolymer.svg" alt=""></a>
                <div class="dropdown-menu__close" @click="close()"></div>
                <nav v-cloak>
                    <ul>
                        <li><a href="#1" @click="goTo(1)">{{Resources.home}}</a></li>
                        <li><a href="#2" @click="goTo(2)">{{Resources.products}}</a></li>
                        <li><a href="#3" @click="goTo(3)">{{Resources.about_company}}</a></li>
                        <li><a href="#4" @click="goTo(4)">{{Resources.partners}}</a></li>
                        <li><a href="#5" @click="goTo(5)">{{Resources.contacts}}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </template>
    <script src="js/app.js"></script>
</body>

</html>